.ec-anchor-podcast{
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;

    .track_player{
        width: 100%;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .controls{
    
        .next_btn{
            width: 200px;
    
        }
        .prev_btn{
            width: 200px;
        }
        .index_label{
            text-align: center;
            display: inline;
            margin-left: 30px;
            margin-right: 20px;
        }
    }
}


